.a{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 100px;
    position: relative;
    top: 50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.b{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 160px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.c{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 220px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.d{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 280px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.e{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 340px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.f{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 400px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.g{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.h{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 160px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.i{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 220px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.k{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 280px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;]
}
.l{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 340px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.m{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 400px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.n{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.o{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 160px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.p{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 220px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.q{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 280px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.r{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 340px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.s{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 400px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.t{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.u{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 160px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.v{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 220px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.w{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 280px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.x{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 340px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.y{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 400px;
    margin-top: -50px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}
.z{
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 35px;
    color: gray;
    text-align: center;
    line-height: 45px;
}